!_bookdown.yml
!_output.yml
*.Rhistory
*.Rproj
*.Rproj
*.aux
*.fdb_latexmk
*.fls
*.out
.DS_Store
.Rproj.user
.aux
.fdb_latexmk
.fls
.log
.out
_book
_bookdown_files
inference.Rmd
figs
assets/scripts/theme.R
